* {
  margin: 0;
}

html, body {
  height: 100%;
  background-color: black;
}

body {
  font-family: Verdana, Geneva, sans-serif;
  cursor: crosshair;
}

ul {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0;
}

.wrapper {
    margin: 0 auto;
    clear: both;
}

html, body, div, span, h1, h2, h3, p, a, img, ul, li, aside, figure, nav {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


.twennyseventeen {
  display: none;
}

//
