.linkButton {
    margin-top: 1em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline-block;
    font-size: 80%;
    font-weight: 300;
    border-radius: 5px;
    padding: 4px 5px;
    margin: 0.5em;
    color: blue;
    border: 2px solid blue;
}

.linkButton:hover {
        font-weight: 400;
        background-color: blue;
        color: white;
        cursor: pointer;
}
    