
.footer {
    padding: 1em 3em 2em 3em;
    color: white;
     background: lightcoral  !important ;
     max-width: 1200px;
}

.footerContent {

}

.footerHeader {
    font-size: 3em;
    margin: 1em;
}

.footerNav {
    list-style: none;
    margin-bottom: 4em;
}

.footerNav li {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
}

.footerNav li a {
    color: #d3d3d3;
    text-decoration: none;
}

.footerNav li a:hover {
    color: white;
    text-decoration: none;
    cursor: cell;
}

.footerNav li a:active {
    /*color: #7BBF6A; leaf green*/
    color: #7BBF6A 80%;
    text-decoration: none;
}

@media (max-width: 561px) {
  footer img {
    width: 90%;
  }
}
