/* //////// Projects ///////// */


.proSection {
    padding: 1em 3em 2em 3em;
    margin: auto 0;
   background-image:
    linear-gradient(
      to right, 
      #e8e8e8, #a2a2a2 90%
    ); 
}

.proList {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin: auto 0;
}


.proItem {
    padding: 0.5em;
    margin: 1em 2em 2em 2em;
        text-align: center;

}

.proScreenshot {

    width: 400px;
    height: 230px;
        
}

.proScreenshotImage {
    height: inherit;
    width: inherit;
}


.proTitle {
    text-align: center;
    margin: 0 auto;
}

.proInfoSection {
    margin-top: 2em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.proText {}

.proScreenshotImage {   
    border: 1px solid #ededed;
    border-color: rgba(255,255,255,0.75);
    border-radius: 0 0 3px 3px;
    border-top: 0;
    width: 100%;
}


.fake-ui {
    text-align: center;
    display: block;
    padding:8px;
    background:#d3d3d3;
    border-radius:3px 3px 0 0;
    position:relative
}

.fake-circle-btn {
    width:8px;
    height:8px;
    background:#ffffff;
    border-radius:50%;
    margin-right:5px;
    float:left
}

.fake-addr-bar {
    background:white;
    height:8px;
    border-radius:2px;
    margin-left:49px;
    margin-right:32px;
}

.fake-back-btn,
.fake-next-btn {
    height:8px;
    width:8px;
    background:#ffffff;
    float:right;
    position:absolute
}

.fake-back-btn {
    border-radius:0 3px 3px 0;
    top:8px;
    right:8px
}

.fake-next-btn {
    border-radius:3px 0 0 3px;
    top:8px;
    right:17px
}

.green:hover {
    background: #AADD00;
}

.yellow:hover {
    background: #FCD116;
}

.red:hover {
    background: #FF2400;
}

/* Responsive */
/*
@media only screen and (max-width: 666px) {

    .proItem {
        display: block;
        width: 50%;
        margin-bottom: 0.5em;
    }
    
    .proList ul li {
        text-align: center;
        margin: 0 auto;
    }
}
*/
