* {
    font-family: $body_font;   
}


.title {
    max-width: 50%;
    width: 50%;
    font-size: 2em;
    margin-left: 0.7em;
    margin-bottom: 1em;
    padding-top: 1em;
    display: inline-block;
}