* {
    font-family: $body_font;   
}


.title {
    max-width: 50%;
    width: 50%;
    font-size: 2em;
    margin-left: 0.7em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    display: inline-block;
    letter-spacing: 2px;
}