/* ////// Work Section /////// */

.workSection {
    padding: 1em 3em 2em 3em;
     background-image:
    linear-gradient(
      to right, 
    #e5e5e5, #ffffff
    );
}

.workList ul {
    list-style-type: none;
    
}

.workScreenshot {
    display: inline-block;
    width: 50%;
}

.workScreenshotImage {
    width: 100%;
}

.workInfoSection {
    width: 45%;
    display: inline-block;
float: right;}

.workTitle {
    font-size: 1.5em;
    margin-left: 0.7em;
    padding-top: 1em;
    
    }

.workText {}

#hideoutInfo {}